#!/usr/bin/env bash

dotenv ./.env.app

if [ -f "./.env.secret" ]; then
  dotenv ./.env.secret
else
  cp .env.secret.sample .env.secret
fi

required_envs=$(cat .env.secret.sample | grep -v -E '^#' | cut -d '=' -f 1)

for required_env in $required_envs; do
  if [ -z "${!required_env}" ]; then
    echo "ERROR: Environment variable ${required_env} is required. Please make sure you have not added anything to .env.secret" >&2
    exit 1
  fi
done
